.__hyper_clock_of_clocks_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.__hyper_clock_of_clocks_number {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.__hyper_clock_separator {
    height: 100%;
    display: flex;
    margin: unset;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 6vw, 6rem);
    font-weight: 700;
    line-height: 1;
    user-select: none;
    color: var(--hyper_clock_separator);
    padding: 0 2%;
}
